<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ToDo App</title>
	<style>
		.poppin{
			animation-name: pop;
			animation-duration: 0.3s;
		}
		@keyframes pop{
			0%{
				opacity: 0%;
			}
			100%{
				opacity: 100%;
			}
		}
	</style>

	{{ style('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css') }}
	{{ style('https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css')}}
</head>
<body style="background-color: #00C68E; font-family: Arial, Helvetica, sans-serif">
	<section class="section">
		<div class="container">
			<div class="columns">
				<div class="column is-8 is-offset-2">
					@!section('view')
				</div>
			</div>
		</div>
	</section>
	
</body>
</html>