# Node modules
node_modules
package-lock.json
yarn.lock
yarn.lock.json
yarn-error.log
ecosystem.config.js
# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env
.env.testing
hot
.nuxt
.nuxt/
.nuxt/*

# The development sqlite file
database/development.sqlite

# Jetbrains folder
.idea
.vscode
.editorconfig

public/organization/assets
public/users/assets
public/projects/assets
public/advancedMemberFiles


public/exports/*

dump.rdb
.env.testing